body{
    width: 600px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}
button{
    width: 130px;
    height: 40px;
    font-weight: bold;
}
.contenido{
    width: calc(70% - 5px);
    box-sizing: border-box;
}
.marginbot{
    margin-bottom: 10px;
}
.align-right{
    float: right;
}
.pago{
    width: 16px;
    height: 16px;
}
.border{
    background-color: aqua;
    border: 1px solid gray;
    padding: 10px;
}
.mensajes{
    margin-top: 80px;
}
.menu{
    width: 800px;
    margin-left: -100px;
    background-color: rgb(186, 155, 215);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}
.logout{
    text-decoration: none;
    color: white;
}
